<%= form_for @produto, :html => { :class => "form-horizontal produto" } do |f| %>

    <% if @produto.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @produto.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%= error_span(@produto[:nome]) %>
  </div>
  <div class="control-group">
    <%= f.label :preco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :preco, :class => 'form-control' %>
    </div>
    <%= error_span(@produto[:preco]) %>
  </div>
  <div class="control-group">
    <%= f.label :espicificacao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :espicificacao, :class => 'form-control' %>
    </div>
    <%= error_span(@produto[:espicificacao]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            produtos_path, :class => 'btn btn-default' %>

<% end %>
