<!DOCTYPE html>
<html>
<head>
  <title>Vendas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Produtos', produtos_path %>
<%= link_to 'Vendas', vendas_path %>
<%= link_to 'Clientes', clientes_path %>


<%= yield %>

</body>
</html>
